[submodule "third_party/cryptopp"]
	path = third_party/cryptopp
	url = git@github.com:weidai11/cryptopp.git
	branch = master
[submodule "third_party/hidapi"]
	path = third_party/hidapi
	url = git@github.com:libusb/hidapi.git
	branch = master
